This script contains the follwing points.

1.Import data set into jupyter as a new df_ords_prior.
2.Check the dimensions of the imported dataframe.
3.Merge the dataframes with df_ords dataframe
4.Use the indicator argument to check wether there was a full match between the two dataframe.

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
#Define path
path = r'/Users/shikongo/Instacart Basket Analysis/'

In [3]:
path

'/Users/shikongo/Instacart Basket Analysis/'

1. Import data set into jupyter as a new df_ords_prior.

In [4]:
df_ords_prior = pd.read_csv(r'/Users/shikongo/Instacart Basket Analysis/02 Data/Prepared Data/orders_products_prior.csv', index_col = False)

In [5]:
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_prior.csv'), index_col = False)

In [6]:
df_ords = pd.read_csv(r'/Users/shikongo/Instacart Basket Analysis/02 Data/Prepared Data/orders_cleaned.csv', index_col = False)

In [7]:
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_cleaned.csv'), index_col = False)

In [8]:
# check the output
df_ords_prior.tail()

          order_id  product_id  add_to_cart_order  reordered
32434484   3421083       39678                  6          1
32434485   3421083       11352                  7          0
32434486   3421083        4600                  8          0
32434487   3421083       24852                  9          1
32434488   3421083        5020                 10          1

In [11]:
# check the output
df_ords.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_wek,order_hour_of_day,days_since_prior_order,ordr_id
0,1,1,2398795,1,prior,2,3,7,15.0,2398795
1,2,2,473747,1,prior,3,3,12,21.0,473747
2,3,3,2254736,1,prior,4,4,7,29.0,2254736
3,4,4,431534,1,prior,5,4,15,28.0,431534
4,5,5,3367565,1,prior,6,2,7,19.0,3367565

2. Check the dimensions of the imported dataframe.

In [29]:
# check the output
df_ords.shape

(3421083, 10)

In [30]:
# check the output
df_ords_prior.shape

(32434489, 4)

3. Merge the dataframes with df_ords dataframe

In [31]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [33]:
#check the ouput
df_merged_large.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_wek,order_hour_of_day,days_since_prior_order,ordr_id,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,prior,1,2,8,NaN,2539329,196,1,0,both
1,0,0,2539329,1,prior,1,2,8,NaN,2539329,14084,2,0,both
2,0,0,2539329,1,prior,1,2,8,NaN,2539329,12427,3,0,both
3,0,0,2539329,1,prior,1,2,8,NaN,2539329,26088,4,0,both
4,0,0,2539329,1,prior,1,2,8,NaN,2539329,26405,5,0,both

4.Use the indicator argument to check wether there was a full match between the two dataframe.

In [35]:
# check the output
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

5. Export data to pikle

In [36]:
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))