In [1]:
# import libraries
import pandas as pd
import numpy as np
import os

In [2]:
#Define path
path = r'/Users/shikongo/Instacart Basket Analysis/'

In [3]:
path

'/Users/shikongo/Instacart Basket Analysis/'

In [4]:
df_orders_products_merged = pd.read_pickle(r'/Users/shikongo/Instacart Basket Analysis/02 Data/Prepared Data/orders_products_merged.pkl')

In [5]:
df_orders_products_merged = pd.read_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_update_merged.pkl'))

In [6]:
# Create a subset
df_orders_products_merged[:1000000]

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0.1,Unnamed: 0_y,order_id,user_id,...,order_hour_of_day,days_since_prior_order,ordr_id,add_to_cart_order,reordered,_merge,price_range,price_range_loc,Busiest_days,Busiest_period_of_day
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,1987,3139998,138,...,11,3.0,3139998,5,0,both,Not enough data,Mid-range product,Regular days,Most_orders
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1989,1977647,138,...,17,20.0,1977647,1,1,both,Not enough data,Mid-range product,Regular days,Average_orders
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,11433,389851,709,...,21,6.0,389851,20,0,both,Not enough data,Mid-range product,Busiest days,Average_orders
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,12198,652770,764,...,13,NaN,652770,10,0,both,Not enough data,Mid-range product,slowest days,Most_orders
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,12200,1813452,764,...,17,9.0,1813452,11,1,both,Not enough data,Mid-range product,slowest days,Average_orders
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,2029,2029,Swirl Thick Slice Brown Sugar Cinnamon Bread,112,3,8.3,1057634,1057634,528537,63700,...,14,3.0,528537,9,1,both,Not enough data,Mid-range product,Regular days,Most_orders
999996,2029,2029,Swirl Thick Slice Brown Sugar Cinnamon Bread,112,3,8.3,1057635,1057635,3000197,63700,...,14,3.0,3000197,9,1,both,Not enough data,Mid-range product,Busiest days,Most_orders
999997,2029,2029,Swirl Thick Slice Brown Sugar Cinnamon Bread,112,3,8.3,1079515,1079515,2372562,65043,...,11,8.0,2372562,4,0,both,Not enough data,Mid-range product,slowest days,Most_orders
999998,2029,2029,Swirl Thick Slice Brown Sugar Cinnamon Bread,112,3,8.3,1081395,1081395,2027185,65162,...,14,8.0,2027185,2,0,both,Not enough data,Mid-range product,Regular days,Most_orders
999999,2029,2029,Swirl Thick Slice Brown Sugar Cinnamon Bread,112,3,8.3,1081414,1081414,3020289,65162,...,11,30.0,3020289,3,1,both,Not enough data,Mid-range product,Regular days,Most_orders

In [7]:
df_orders_products_merged.shape

(1000000, 23)

In [8]:
df_orders_products_merged.head(10)

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0.1,Unnamed: 0_y,order_id,user_id,...,order_hour_of_day,days_since_prior_order,ordr_id,add_to_cart_order,reordered,_merge,price_range,price_range_loc,Busiest_days,Busiest_period_of_day
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,1987,3139998,138,...,11,3.0,3139998,5,0,both,Not enough data,Mid-range product,Regular days,Most_orders
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1989,1977647,138,...,17,20.0,1977647,1,1,both,Not enough data,Mid-range product,Regular days,Average_orders
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,11433,389851,709,...,21,6.0,389851,20,0,both,Not enough data,Mid-range product,Busiest days,Average_orders
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,12198,652770,764,...,13,NaN,652770,10,0,both,Not enough data,Mid-range product,slowest days,Most_orders
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,12200,1813452,764,...,17,9.0,1813452,11,1,both,Not enough data,Mid-range product,slowest days,Average_orders
5,0,1,Chocolate Sandwich Cookies,61,19,5.8,12372,12372,1701441,777,...,7,26.0,1701441,7,0,both,Not enough data,Mid-range product,Busiest days,Average_orders
6,0,1,Chocolate Sandwich Cookies,61,19,5.8,13096,13096,1871483,825,...,14,30.0,1871483,2,0,both,Not enough data,Mid-range product,Regular days,Most_orders
7,0,1,Chocolate Sandwich Cookies,61,19,5.8,14603,14603,1290456,910,...,10,30.0,1290456,1,0,both,Not enough data,Mid-range product,slowest days,Most_orders
8,0,1,Chocolate Sandwich Cookies,61,19,5.8,17065,17065,369558,1052,...,20,19.0,369558,1,0,both,Not enough data,Mid-range product,Busiest days,Average_orders
9,0,1,Chocolate Sandwich Cookies,61,19,5.8,17070,17070,589712,1052,...,12,15.0,589712,2,1,both,Not enough data,Mid-range product,Busiest days,Most_orders

In [9]:
df_orders_products_merged.groupby('product_name')

1. Performing a Single Aggregation

In [10]:
df_orders_products_merged.groupby('department_id').agg({'order_number':['mean']})

              order_number
                      mean
department_id
1                15.562844
2                17.518895
3                16.907152
4                17.537934
5                14.894521
6                16.658449
7                17.072954
8                14.942021
9                15.447580
10               18.681852
11               15.352278
12               14.327957
13               16.578690
14               16.666369
15               16.153766
16               17.768070
17               15.602964
18               19.674252
19               16.924344
20               16.292631
21               25.535596

In [11]:
# Other method without use of the agg()
df_orders_products_merged.groupby('department_id')['order_number'].mean()

department_id
1     15.562844
2     17.518895
3     16.907152
4     17.537934
5     14.894521
6     16.658449
7     17.072954
8     14.942021
9     15.447580
10    18.681852
11    15.352278
12    14.327957
13    16.578690
14    16.666369
15    16.153766
16    17.768070
17    15.602964
18    19.674252
19    16.924344
20    16.292631
21    25.535596
Name: order_number, dtype: float64

In [12]:
# Performing multiple aggregations
df_orders_products_merged.groupby('department_id').agg({'order_number':['mean','min','max']})

              order_number
                      mean min max
department_id
1                15.562844   1  99
2                17.518895   1  96
3                16.907152   1  99
4                17.537934   1  99
5                14.894521   1  99
6                16.658449   1  99
7                17.072954   1  99
8                14.942021   1  98
9                15.447580   1  99
10               18.681852   1  99
11               15.352278   1  99
12               14.327957   1  99
13               16.578690   1  99
14               16.666369   1  99
15               16.153766   1  99
16               17.768070   1  99
17               15.602964   1  99
18               19.674252   1  99
19               16.924344   1  99
20               16.292631   1  99
21               25.535596   1  98

2. Creatte a loyality flag loc

In [13]:
# Aggregating data with transform().
# Transform() function create a new column containing maximum frequency of the order_number column.
# then using loc function, to create second column containing a flag designating whether a customer is loyal or not.
# 1.split data into groups based on the "user_id" column
# 2.apply the transformation()function on the "order_number" column to generate the maximun orders for each user.
# 3.create a new column, "max_order", into which you'will place the results of the aggregation.
df_orders_products_merged['max_order'] = df_orders_products_merged.groupby(['user_id'])['order_number'].transform(np.max)

In [14]:
df_orders_products_merged.head(15)

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0.1,Unnamed: 0_y,order_id,user_id,...,days_since_prior_order,ordr_id,add_to_cart_order,reordered,_merge,price_range,price_range_loc,Busiest_days,Busiest_period_of_day,max_order
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,1987,3139998,138,...,3.0,3139998,5,0,both,Not enough data,Mid-range product,Regular days,Most_orders,30
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1989,1977647,138,...,20.0,1977647,1,1,both,Not enough data,Mid-range product,Regular days,Average_orders,30
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,11433,389851,709,...,6.0,389851,20,0,both,Not enough data,Mid-range product,Busiest days,Average_orders,5
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,12198,652770,764,...,NaN,652770,10,0,both,Not enough data,Mid-range product,slowest days,Most_orders,3
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,12200,1813452,764,...,9.0,1813452,11,1,both,Not enough data,Mid-range product,slowest days,Average_orders,3
5,0,1,Chocolate Sandwich Cookies,61,19,5.8,12372,12372,1701441,777,...,26.0,1701441,7,0,both,Not enough data,Mid-range product,Busiest days,Average_orders,16
6,0,1,Chocolate Sandwich Cookies,61,19,5.8,13096,13096,1871483,825,...,30.0,1871483,2,0,both,Not enough data,Mid-range product,Regular days,Most_orders,3
7,0,1,Chocolate Sandwich Cookies,61,19,5.8,14603,14603,1290456,910,...,30.0,1290456,1,0,both,Not enough data,Mid-range product,slowest days,Most_orders,12
8,0,1,Chocolate Sandwich Cookies,61,19,5.8,17065,17065,369558,1052,...,19.0,369558,1,0,both,Not enough data,Mid-range product,Busiest days,Average_orders,18
9,0,1,Chocolate Sandwich Cookies,61,19,5.8,17070,17070,589712,1052,...,15.0,589712,2,1,both,Not enough data,Mid-range product,Busiest days,Most_orders,18
10,0,1,Chocolate Sandwich Cookies,61,19,5.8,22082,22082,1798115,1379,...,NaN,1798115,1,0,both,Not enough data,Mid-range product,Regular days,Most_orders,6
11,0,1,Chocolate Sandwich Cookies,61,19,5.8,23713,23713,497193,1480,...,7.0,497193,1,0,both,Not enough data,Mid-range product,slowest days,Most_orders,41
12,0,1,Chocolate Sandwich Cookies,61,19,5.8,23715,23715,1727826,1480,...,7.0,1727826,3,1,both,Not enough data,Mid-range product,slowest days,Most_orders,41
13,0,1,Chocolate Sandwich Cookies,61,19,5.8,23716,23716,2694698,1480,...,12.0,2694698,4,1,both,Not enough data,Mid-range product,Regular days,Most_orders,41
14,0,1,Chocolate Sandwich Cookies,61,19,5.8,23937,23937,3171753,1494,...,2.0,3171753,8,0,both,Not enough data,Mid-range product,slowest days,Most_orders,9

In [15]:
# Another way to check is to print the head of the dataframe with an argument of, say 100
df_orders_products_merged.head(100)

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0.1,Unnamed: 0_y,order_id,user_id,...,days_since_prior_order,ordr_id,add_to_cart_order,reordered,_merge,price_range,price_range_loc,Busiest_days,Busiest_period_of_day,max_order
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,1987,3139998,138,...,3.0,3139998,5,0,both,Not enough data,Mid-range product,Regular days,Most_orders,30
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1989,1977647,138,...,20.0,1977647,1,1,both,Not enough data,Mid-range product,Regular days,Average_orders,30
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,11433,389851,709,...,6.0,389851,20,0,both,Not enough data,Mid-range product,Busiest days,Average_orders,5
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,12198,652770,764,...,NaN,652770,10,0,both,Not enough data,Mid-range product,slowest days,Most_orders,3
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,12200,1813452,764,...,9.0,1813452,11,1,both,Not enough data,Mid-range product,slowest days,Average_orders,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0,1,Chocolate Sandwich Cookies,61,19,5.8,179480,179480,602103,10831,...,23.0,602103,5,0,both,Not enough data,Mid-range product,slowest days,Most_orders,8
96,0,1,Chocolate Sandwich Cookies,61,19,5.8,184011,184011,49629,11119,...,30.0,49629,1,0,both,Not enough data,Mid-range product,Busiest days,Most_orders,20
97,0,1,Chocolate Sandwich Cookies,61,19,5.8,185002,185002,317888,11186,...,2.0,317888,8,0,both,Not enough data,Mid-range product,Regular days,Most_orders,23
98,0,1,Chocolate Sandwich Cookies,61,19,5.8,186194,186194,682486,11243,...,0.0,682486,2,0,both,Not enough data,Mid-range product,slowest days,Most_orders,16
99,0,1,Chocolate Sandwich Cookies,61,19,5.8,189258,189258,2861386,11448,...,3.0,2861386,6,0,both,Not enough data,Mid-range product,Regular days,Most_orders,21

In [16]:
# Not show all the number of rows - not the 100 I asked for, but can change with the following code:
pd.options.display.max_rows = None

In [17]:
df_orders_products_merged.head(100)

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0.1,Unnamed: 0_y,order_id,user_id,...,days_since_prior_order,ordr_id,add_to_cart_order,reordered,_merge,price_range,price_range_loc,Busiest_days,Busiest_period_of_day,max_order
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,1987,3139998,138,...,3.0,3139998,5,0,both,Not enough data,Mid-range product,Regular days,Most_orders,30
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1989,1977647,138,...,20.0,1977647,1,1,both,Not enough data,Mid-range product,Regular days,Average_orders,30
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,11433,389851,709,...,6.0,389851,20,0,both,Not enough data,Mid-range product,Busiest days,Average_orders,5
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,12198,652770,764,...,NaN,652770,10,0,both,Not enough data,Mid-range product,slowest days,Most_orders,3
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,12200,1813452,764,...,9.0,1813452,11,1,both,Not enough data,Mid-range product,slowest days,Average_orders,3
5,0,1,Chocolate Sandwich Cookies,61,19,5.8,12372,12372,1701441,777,...,26.0,1701441,7,0,both,Not enough data,Mid-range product,Busiest days,Average_orders,16
6,0,1,Chocolate Sandwich Cookies,61,19,5.8,13096,13096,1871483,825,...,30.0,1871483,2,0,both,Not enough data,Mid-range product,Regular days,Most_orders,3
7,0,1,Chocolate Sandwich Cookies,61,19,5.8,14603,14603,1290456,910,...,30.0,1290456,1,0,both,Not enough data,Mid-range product,slowest days,Most_orders,12
8,0,1,Chocolate Sandwich Cookies,61,19,5.8,17065,17065,369558,1052,...,19.0,369558,1,0,both,Not enough data,Mid-range product,Busiest days,Average_orders,18
9,0,1,Chocolate Sandwich Cookies,61,19,5.8,17070,17070,589712,1052,...,15.0,589712,2,1,both,Not enough data,Mid-range product,Busiest days,Most_orders,18
10,0,1,Chocolate Sandwich Cookies,61,19,5.8,22082,22082,1798115,1379,...,NaN,1798115,1,0,both,Not enough data,Mid-range product,Regular days,Most_orders,6
11,0,1,Chocolate Sandwich Cookies,61,19,5.8,23713,23713,497193,1480,...,7.0,497193,1,0,both,Not enough data,Mid-range product,slowest days,Most_orders,41
12,0,1,Chocolate Sandwich Cookies,61,19,5.8,23715,23715,1727826,1480,...,7.0,1727826,3,1,both,Not enough data,Mid-range product,slowest days,Most_orders,41
13,0,1,Chocolate Sandwich Cookies,61,19,5.8,23716,23716,2694698,1480,...,12.0,2694698,4,1,both,Not enough data,Mid-range product,Regular days,Most_orders,41
14,0,1,Chocolate Sandwich Cookies,61,19,5.8,23937,23937,3171753,1494,...,2.0,3171753,8,0,both,Not enough data,Mid-range product,slowest days,Most_orders,9
15,0,1,Chocolate Sandwich Cookies,61,19,5.8,23938,23938,186761,1494,...,6.0,186761,18,1,both,Not enough data,Mid-range product,Regular days,Average_orders,9
16,0,1,Chocolate Sandwich Cookies,61,19,5.8,23940,23940,317121,1494,...,10.0,317121,12,1,both,Not enough data,Mid-range product,Regular days,Average_orders,9
17,0,1,Chocolate Sandwich Cookies,61,19,5.8,24740,24740,200390,1540,...,7.0,200390,10,0,both,Not enough data,Mid-range product,Regular days,Fewest_orders,28
18,0,1,Chocolate Sandwich Cookies,61,19,5.8,24741,24741,374436,1540,...,6.0,374436,9,1,both,Not enough data,Mid-range product,Busiest days,Average_orders,28
19,0,1,Chocolate Sandwich Cookies,61,19,5.8,24742,24742,2920553,1540,...,14.0,2920553,9,1,both,Not enough data,Mid-range product,Busiest days,Fewest_orders,28
20,0,1,Chocolate Sandwich Cookies,61,19,5.8,24743,24743,2813049,1540,...,8.0,2813049,7,1,both,Not enough data,Mid-range product,Regular days,Fewest_orders,28
21,0,1,Chocolate Sandwich Cookies,61,19,5.8,24744,24744,2365998,1540,...,6.0,2365998,6,1,both,Not enough data,Mid-range product,Busiest days,Average_orders,28
22,0,1,Chocolate Sandwich Cookies,61,19,5.8,24745,24745,1604797,1540,...,28.0,1604797,6,1,both,Not enough data,Mid-range product,Busiest days,Fewest_orders,28
23,0,1,Chocolate Sandwich Cookies,61,19,5.8,24750,24750,2799665,1540,...,7.0,2799665,10,1,both,Not enough data,Mid-range product,Busiest days,Most_orders,28
24,0,1,Chocolate Sandwich Cookies,61,19,5.8,24751,24751,2228851,1540,...,7.0,2228851,3,1,both,Not enough data,Mid-range product,Busiest days,Most_orders,28
25,0,1,Chocolate Sandwich Cookies,61,19,5.8,24754,24754,2337422,1540,...,0.0,2337422,5,1,both,Not enough data,Mid-range product,Busiest days,Average_orders,28
26,0,1,Chocolate Sandwich Cookies,61,19,5.8,24755,24755,2699008,1540,...,7.0,2699008,11,1,both,Not enough data,Mid-range product,Busiest days,Average_orders,28
27,0,1,Chocolate Sandwich Cookies,61,19,5.8,24756,24756,1914830,1540,...,7.0,1914830,11,1,both,Not enough data,Mid-range product,Busiest days,Average_orders,28
28,0,1,Chocolate Sandwich Cookies,61,19,5.8,24757,24757,783503,1540,...,7.0,783503,5,1,both,Not enough data,Mid-range product,Busiest days,Average_orders,28
29,0,1,Chocolate Sandwich Cookies,61,19,5.8,24758,24758,2500516,1540,...,7.0,2500516,15,1,both,Not enough data,Mid-range product,Busiest days,Average_orders,28
30,0,1,Chocolate Sandwich Cookies,61,19,5.8,24760,24760,716845,1540,...,3.0,716845,4,1,both,Not enough data,Mid-range product,slowest days,Average_orders,28
31,0,1,Chocolate Sandwich Cookies,61,19,5.8,24761,24761,1955535,1540,...,16.0,1955535,6,1,both,Not enough data,Mid-range product,Regular days,Average_orders,28
32,0,1,Chocolate Sandwich Cookies,61,19,5.8,24763,24763,1424793,1540,...,5.0,1424793,1,1,both,Not enough data,Mid-range product,Busiest days,Fewest_orders,28
33,0,1,Chocolate Sandwich Cookies,61,19,5.8,24764,24764,749498,1540,...,6.0,749498,1,1,both,Not enough data,Mid-range product,Busiest days,Average_orders,28
34,0,1,Chocolate Sandwich Cookies,61,19,5.8,25854,25854,2434812,1598,...,NaN,2434812,2,0,both,Not enough data,Mid-range product,Regular days,Most_orders,3
35,0,1,Chocolate Sandwich Cookies,61,19,5.8,25855,25855,1531889,1598,...,21.0,1531889,2,1,both,Not enough data,Mid-range product,Regular days,Most_orders,3
36,0,1,Chocolate Sandwich Cookies,61,19,5.8,25856,25856,726947,1598,...,2.0,726947,3,1,both,Not enough data,Mid-range product,slowest days,Average_orders,3
37,0,1,Chocolate Sandwich Cookies,61,19,5.8,26514,26514,627615,1647,...,NaN,627615,1,0,both,Not enough data,Mid-range product,Busiest days,Most_orders,9
38,0,1,Chocolate Sandwich Cookies,61,19,5.8,26517,26517,2507439,1647,...,18.0,2507439,6,1,both,Not enough data,Mid-range product,Busiest days,Most_orders,9
39,0,1,Chocolate Sandwich Cookies,61,19,5.8,26519,26519,1152609,1647,...,8.0,1152609,3,1,both,Not enough data,Mid-range product,Busiest days,Most_orders,9
40,0,1,Chocolate Sandwich Cookies,61,19,5.8,26521,26521,1048339,1647,...,30.0,1048339,10,1,both,Not enough data,Mid-range product,Busiest days,Average_orders,9
41,0,1,Chocolate Sandwich Cookies,61,19,5.8,26522,26522,2818381,1647,...,25.0,2818381,1,1,both,Not enough data,Mid-range product,slowest days,Most_orders,9
42,0,1,Chocolate Sandwich Cookies,61,19,5.8,45857,45857,2722928,2833,...,NaN,2722928,12,0,both,Not enough data,Mid-range product,Busiest days,Most_orders,1
43,0,1,Chocolate Sandwich Cookies,61,19,5.8,46112,46112,1482338,2850,...,9.0,1482338,10,0,both,Not enough data,Mid-range product,Busiest days,Most_orders,21
44,0,1,Chocolate Sandwich Cookies,61,19,5.8,46221,46221,2311344,2857,...,10.0,2311344,5,0,both,Not enough data,Mid-range product,Busiest days,Average_orders,24
45,0,1,Chocolate Sandwich Cookies,61,19,5.8,48737,48737,812943,3010,...,7.0,812943,11,0,both,Not enough data,Mid-range product,slowest days,Most_orders,10
46,0,1,Chocolate Sandwich Cookies,61,19,5.8,49060,49060,256839,3029,...,NaN,256839,8,0,both,Not enough data,Mid-range product,Regular days,Average_orders,4
47,0,1,Chocolate Sandwich Cookies,61,19,5.8,54482,54482,2192488,3395,...,30.0,2192488,7,0,both,Not enough data,Mid-range product,Regular days,Most_orders,4
48,0,1,Chocolate Sandwich Cookies,61,19,5.8,63154,63154,207661,3904,...,NaN,207661,2,0,both,Not enough data,Mid-range product,Busiest days,Most_orders,1
49,0,1,Chocolate Sandwich Cookies,61,19,5.8,64629,64629,1394659,4006,...,7.0,1394659,8,0,both,Not enough data,Mid-range product,Busiest days,Most_orders,40
50,0,1,Chocolate Sandwich Cookies,61,19,5.8,64630,64630,2353526,4006,...,7.0,2353526,2,1,both,Not enough data,Mid-range product,Busiest days,Most_orders,40
51,0,1,Chocolate Sandwich Cookies,61,19,5.8,64632,64632,2269226,4006,...,7.0,2269226,6,1,both,Not enough data,Mid-range product,slowest days,Most_orders,40
52,0,1,Chocolate Sandwich Cookies,61,19,5.8,64636,64636,367316,4006,...,5.0,367316,3,1,both,Not enough data,Mid-range product,Regular days,Most_orders,40
53,0,1,Chocolate Sandwich Cookies,61,19,5.8,64639,64639,1448367,4006,...,4.0,1448367,2,1,both,Not enough data,Mid-range product,Busiest days,Most_orders,40
54,0,1,Chocolate Sandwich Cookies,61,19,5.8,66464,66464,19989,4122,...,8.0,19989,1,0,both,Not enough data,Mid-range product,Regular days,Average_orders,40
55,0,1,Chocolate Sandwich Cookies,61,19,5.8,66740,66740,2735922,4141,...,30.0,2735922,2,0,both,Not enough data,Mid-range product,Busiest days,Average_orders,2
56,0,1,Chocolate Sandwich Cookies,61,19,5.8,70156,70156,2469422,4343,...,NaN,2469422,9,0,both,Not enough data,Mid-range product,Busiest days,Most_orders,4
57,0,1,Chocolate Sandwich Cookies,61,19,5.8,74002,74002,3185558,4553,...,29.0,3185558,1,0,both,Not enough data,Mid-range product,Regular days,Most_orders,3
58,0,1,Chocolate Sandwich Cookies,61,19,5.8,79495,79495,350540,4845,...,12.0,350540,7,0,both,Not enough data,Mid-range product,Busiest days,Most_orders,6
59,0,1,Chocolate Sandwich Cookies,61,19,5.8,113547,113547,513100,6866,...,NaN,513100,11,0,both,Not enough data,Mid-range product,slowest days,Most_orders,1
60,0,1,Chocolate Sandwich Cookies,61,19,5.8,120201,120201,2081405,7275,...,4.0,2081405,6,0,both,Not enough data,Mid-range product,Regular days,Average_orders,5
61,0,1,Chocolate Sandwich Cookies,61,19,5.8,127181,127181,2209807,7669,...,5.0,2209807,5,0,both,Not enough data,Mid-range product,slowest days,Most_orders,21
62,0,1,Chocolate Sandwich Cookies,61,19,5.8,127182,127182,921798,7669,...,5.0,921798,6,1,both,Not enough data,Mid-range product,Busiest days,Average_orders,21
63,0,1,Chocolate Sandwich Cookies,61,19,5.8,127198,127198,2540226,7669,...,13.0,2540226,3,1,both,Not enough data,Mid-range product,Busiest days,Average_orders,21
64,0,1,Chocolate Sandwich Cookies,61,19,5.8,132199,132199,2265792,7981,...,10.0,2265792,2,0,both,Not enough data,Mid-range product,Regular days,Most_orders,30
65,0,1,Chocolate Sandwich Cookies,61,19,5.8,132203,132203,3357714,7981,...,6.0,3357714,1,1,both,Not enough data,Mid-range product,Busiest days,Average_orders,30
66,0,1,Chocolate Sandwich Cookies,61,19,5.8,132204,132204,1186573,7981,...,9.0,1186573,1,1,both,Not enough data,Mid-range product,Regular days,Average_orders,30
67,0,1,Chocolate Sandwich Cookies,61,19,5.8,132214,132214,3209740,7981,...,6.0,3209740,2,1,both,Not enough data,Mid-range product,Regular days,Most_orders,30
68,0,1,Chocolate Sandwich Cookies,61,19,5.8,132220,132220,138748,7981,...,8.0,138748,2,1,both,Not enough data,Mid-range product,slowest days,Most_orders,30
69,0,1,Chocolate Sandwich Cookies,61,19,5.8,144644,144644,2027157,8703,...,1.0,2027157,13,0,both,Not enough data,Mid-range product,slowest days,Most_orders,98
70,0,1,Chocolate Sandwich Cookies,61,19,5.8,144965,144965,3052954,8723,...,7.0,3052954,2,0,both,Not enough data,Mid-range product,slowest days,Most_orders,35
71,0,1,Chocolate Sandwich Cookies,61,19,5.8,145132,145132,1486756,8735,...,21.0,1486756,2,0,both,Not enough data,Mid-range product,slowest days,Most_orders,8
72,0,1,Chocolate Sandwich Cookies,61,19,5.8,154495,154495,632514,9293,...,30.0,632514,2,0,both,Not enough data,Mid-range product,Busiest days,Most_orders,3
73,0,1,Chocolate Sandwich Cookies,61,19,5.8,154496,154496,1253470,9293,...,30.0,1253470,1,1,both,Not enough data,Mid-range product,slowest days,Most_orders,3
74,0,1,Chocolate Sandwich Cookies,61,19,5.8,157363,157363,837303,9467,...,NaN,837303,11,0,both,Not enough data,Mid-range product,Busiest days,Average_orders,1
75,0,1,Chocolate Sandwich Cookies,61,19,5.8,161167,161167,2734881,9694,...,30.0,2734881,3,0,both,Not enough data,Mid-range product,Busiest days,Average_orders,23
76,0,1,Chocolate Sandwich Cookies,61,19,5.8,161169,161169,2164394,9694,...,8.0,2164394,2,1,both,Not enough data,Mid-range product,slowest days,Average_orders,23
77,0,1,Chocolate Sandwich Cookies,61,19,5.8,161170,161170,3354551,9694,...,7.0,3354551,1,1,both,Not enough data,Mid-range product,slowest days,Most_orders,23
78,0,1,Chocolate Sandwich Cookies,61,19,5.8,161171,161171,1381165,9694,...,14.0,1381165,2,1,both,Not enough data,Mid-range product,slowest days,Average_orders,23
79,0,1,Chocolate Sandwich Cookies,61,19,5.8,161172,161172,2809438,9694,...,28.0,2809438,1,1,both,Not enough data,Mid-range product,slowest days,Average_orders,23
80,0,1,Chocolate Sandwich Cookies,61,19,5.8,161175,161175,425352,9694,...,16.0,425352,4,1,both,Not enough data,Mid-range product,slowest days,Average_orders,23
81,0,1,Chocolate Sandwich Cookies,61,19,5.8,161179,161179,2453441,9694,...,1.0,2453441,1,1,both,Not enough data,Mid-range product,slowest days,Average_orders,23
82,0,1,Chocolate Sandwich Cookies,61,19,5.8,161180,161180,1189695,9694,...,14.0,1189695,1,1,both,Not enough data,Mid-range product,slowest days,Most_orders,23
83,0,1,Chocolate Sandwich Cookies,61,19,5.8,161181,161181,1759231,9694,...,7.0,1759231,2,1,both,Not enough data,Mid-range product,slowest days,Most_orders,23
84,0,1,Chocolate Sandwich Cookies,61,19,5.8,161185,161185,482648,9694,...,8.0,482648,1,1,both,Not enough data,Mid-range product,slowest days,Most_orders,23
85,0,1,Chocolate Sandwich Cookies,61,19,5.8,161187,161187,2201348,9694,...,16.0,2201348,7,1,both,Not enough data,Mid-range product,slowest days,Most_orders,23
86,0,1,Chocolate Sandwich Cookies,61,19,5.8,163406,163406,3351592,9848,...,8.0,3351592,16,0,both,Not enough data,Mid-range product,slowest days,Average_orders,17
87,0,1,Chocolate Sandwich Cookies,61,19,5.8,167401,167401,2164672,10113,...,14.0,2164672,5,0,both,Not enough data,Mid-range product,slowest days,Average_orders,8
88,0,1,Chocolate Sandwich Cookies,61,19,5.8,170879,170879,1526735,10315,...,NaN,1526735,2,0,both,Not enough data,Mid-range product,Busiest days,Most_orders,1
89,0,1,Chocolate Sandwich Cookies,61,19,5.8,173474,173474,2057892,10479,...,8.0,2057892,8,0,both,Not enough data,Mid-range product,Busiest days,Most_orders,22
90,0,1,Chocolate Sandwich Cookies,61,19,5.8,177382,177382,356685,10708,...,14.0,356685,15,0,both,Not enough data,Mid-range product,Regular days,Most_orders,21
91,0,1,Chocolate Sandwich Cookies,61,19,5.8,177386,177386,1592736,10708,...,14.0,1592736,9,1,both,Not enough data,Mid-range product,Regular days,Most_orders,21
92,0,1,Chocolate Sandwich Cookies,61,19,5.8,178699,178699,3125810,10789,...,10.0,3125810,1,0,both,Not enough data,Mid-range product,Busiest days,Average_orders,36
93,0,1,Chocolate Sandwich Cookies,61,19,5.8,178700,178700,846661,10789,...,14.0,846661,4,1,both,Not enough data,Mid-range product,Busiest days,Average_orders,36
94,0,1,Chocolate Sandwich Cookies,61,19,5.8,178705,178705,2363761,10789,...,4.0,2363761,2,1,both,Not enough data,Mid-range product,Regular days,Most_orders,36
95,0,1,Chocolate Sandwich Cookies,61,19,5.8,179480,179480,602103,10831,...,23.0,602103,5,0,both,Not enough data,Mid-range product,slowest days,Most_orders,8
96,0,1,Chocolate Sandwich Cookies,61,19,5.8,184011,184011,49629,11119,...,30.0,49629,1,0,both,Not enough data,Mid-range product,Busiest days,Most_orders,20
97,0,1,Chocolate Sandwich Cookies,61,19,5.8,185002,185002,317888,11186,...,2.0,317888,8,0,both,Not enough data,Mid-range product,Regular days,Most_orders,23
98,0,1,Chocolate Sandwich Cookies,61,19,5.8,186194,186194,682486,11243,...,0.0,682486,2,0,both,Not enough data,Mid-range product,slowest days,Most_orders,16
99,0,1,Chocolate Sandwich Cookies,61,19,5.8,189258,189258,2861386,11448,...,3.0,2861386,6,0,both,Not enough data,Mid-range product,Regular days,Most_orders,21

3.Deriving columns with loc()

In [18]:
# create a flag that assigns a 'loyality'lable
df_orders_products_merged.loc[df_orders_products_merged['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [19]:
df_orders_products_merged.loc[(df_orders_products_merged['max_order'] <= 40) & (df_orders_products_merged['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [20]:
df_orders_products_merged.loc[df_orders_products_merged['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [21]:
df_orders_products_merged['loyalty_flag'].value_counts(dropna = False)

Regular customer    473041
Loyal customer      288151
New customer        238808
Name: loyalty_flag, dtype: int64

In [22]:
# acccess a single column in a dataframe, I can index it like this example: df['column']
# Write function that returned the first 60 rows of only 'user-id','loyalty_flag, 'order_Number columns'.
# format it as follows:
df_orders_products_merged[['user_id','loyalty_flag','order_number']].head(60)

    user_id      loyalty_flag  order_number
0       138  Regular customer            28
1       138  Regular customer            30
2       709      New customer             2
3       764      New customer             1
4       764      New customer             3
5       777  Regular customer            16
6       825      New customer             3
7       910  Regular customer            12
8      1052  Regular customer            10
9      1052  Regular customer            15
10     1379      New customer             1
11     1480    Loyal customer            36
12     1480    Loyal customer            38
13     1480    Loyal customer            39
14     1494      New customer             6
15     1494      New customer             7
16     1494      New customer             9
17     1540  Regular customer             4
18     1540  Regular customer             5
19     1540  Regular customer             6
20     1540  Regular customer             7
21     1540  Regular customer             8
22     1540  Regular customer             9
23     1540  Regular customer            14
24     1540  Regular customer            15
25     1540  Regular customer            18
26     1540  Regular customer            19
27     1540  Regular customer            20
28     1540  Regular customer            21
29     1540  Regular customer            22
30     1540  Regular customer            24
31     1540  Regular customer            25
32     1540  Regular customer            27
33     1540  Regular customer            28
34     1598      New customer             1
35     1598      New customer             2
36     1598      New customer             3
37     1647      New customer             1
38     1647      New customer             4
39     1647      New customer             6
40     1647      New customer             8
41     1647      New customer             9
42     2833      New customer             1
43     2850  Regular customer             7
44     2857  Regular customer            24
45     3010      New customer             5
46     3029      New customer             1
47     3395      New customer             4
48     3904      New customer             1
49     4006  Regular customer             2
50     4006  Regular customer             3
51     4006  Regular customer             5
52     4006  Regular customer             9
53     4006  Regular customer            12
54     4122  Regular customer            11
55     4141      New customer             2
56     4343      New customer             1
57     4553      New customer             3
58     4845      New customer             6
59     6866      New customer             1

# Exercise 4.8

1. Calculate the aggregated mean of "order_number" for the entire dataframe

In [23]:
# Find the aggregated mean of the entire dataframe 

df_orders_products_merged.agg({'order_number':['mean']})

      order_number
mean     16.829788

# Analyze the result and compare it with the subset

The results for the entire dataframe and the subset dataframe both provide the mean values of the 'order_number' column grouped by 'department_id'. The main difference is the scope of the data being analyzed.

Subset Dataframe: The subset dataframe appears to provide the mean 'order_number' values for each 'department_id' within a specific subset of the data.
Entire Dataframe: The entire dataframe seems to provide the mean 'order_number' values for each 'department_id' across the entire dataset.

In both cases, the mean values for 'order_number' are calculated for different departments, but the subset dataframe represent a specific subset of the data (possibly a subset of departments) compared to the entire dataframe, which considers all departments.

2. Check the basic statistics of product prices for each loyalty category. groupby and describe to calculate and compare statistics for loyal, regular, and new customers.

In [24]:
#Group the data by 'loyalty_flag' and calculate basic statistics for 'product_price'
    
loyalty_stats = df_orders_products_merged.groupby('loyalty_flag')['prices'].describe()

In [25]:
loyalty_stats

                     count      mean       std  min  25%  50%   75%   max
loyalty_flag
Loyal customer    288151.0  7.781255  4.206505  1.0  3.8  8.2  11.3  24.5
New customer      238808.0  7.889919  4.296353  1.0  4.1  8.2  11.3  24.5
Regular customer  473041.0  7.859615  4.235591  1.0  4.0  8.2  11.3  24.5

3. Create a spending flag for each user based on the average price across all their orders

In [26]:
average_order_price = df_orders_products_merged.groupby('user_id')['prices'].mean()

In [27]:
df_orders_products_merged['spending_flag'] = df_orders_products_merged['user_id'].map(average_order_price.apply(lambda mean: 'Low spender' if mean < 10 else 'High spender'))

In [28]:
df_orders_products_merged.head()

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0.1,Unnamed: 0_y,order_id,user_id,...,add_to_cart_order,reordered,_merge,price_range,price_range_loc,Busiest_days,Busiest_period_of_day,max_order,loyalty_flag,spending_flag
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,1987,3139998,138,...,5,0,both,Not enough data,Mid-range product,Regular days,Most_orders,30,Regular customer,High spender
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1989,1977647,138,...,1,1,both,Not enough data,Mid-range product,Regular days,Average_orders,30,Regular customer,High spender
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,11433,389851,709,...,20,0,both,Not enough data,Mid-range product,Busiest days,Average_orders,5,New customer,Low spender
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,12198,652770,764,...,10,0,both,Not enough data,Mid-range product,slowest days,Most_orders,3,New customer,Low spender
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,12200,1813452,764,...,11,1,both,Not enough data,Mid-range product,slowest days,Average_orders,3,New customer,Low spender

4. Create an order frequency flag for customers based on the median of "days_since_prior_order"

In [29]:
median_days_since_prior_order = df_orders_products_merged.groupby('user_id')['days_since_prior_order'].median()

In [30]:
df_orders_products_merged['frequency_flag'] = df_orders_products_merged['user_id'].map(median_days_since_prior_order.apply(lambda median: "Non-frequent customer" if median > 20 else ("Regular customer" if median > 10 else "Frequent customer")))

In [31]:
df_orders_products_merged.tail()

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0.1,Unnamed: 0_y,order_id,user_id,...,reordered,_merge,price_range,price_range_loc,Busiest_days,Busiest_period_of_day,max_order,loyalty_flag,spending_flag,frequency_flag
999995,2029,2029,Swirl Thick Slice Brown Sugar Cinnamon Bread,112,3,8.3,1057634,1057634,528537,63700,...,1,both,Not enough data,Mid-range product,Regular days,Most_orders,17,Regular customer,High spender,Frequent customer
999996,2029,2029,Swirl Thick Slice Brown Sugar Cinnamon Bread,112,3,8.3,1057635,1057635,3000197,63700,...,1,both,Not enough data,Mid-range product,Busiest days,Most_orders,17,Regular customer,High spender,Frequent customer
999997,2029,2029,Swirl Thick Slice Brown Sugar Cinnamon Bread,112,3,8.3,1079515,1079515,2372562,65043,...,0,both,Not enough data,Mid-range product,slowest days,Most_orders,57,Loyal customer,High spender,Frequent customer
999998,2029,2029,Swirl Thick Slice Brown Sugar Cinnamon Bread,112,3,8.3,1081395,1081395,2027185,65162,...,0,both,Not enough data,Mid-range product,Regular days,Most_orders,31,Regular customer,Low spender,Frequent customer
999999,2029,2029,Swirl Thick Slice Brown Sugar Cinnamon Bread,112,3,8.3,1081414,1081414,3020289,65162,...,1,both,Not enough data,Mid-range product,Regular days,Most_orders,31,Regular customer,Low spender,Frequent customer

In [32]:
df_orders_products_merged.groupby('loyalty_flag')

In [33]:
df_orders_products_merged.groupby('frequency_flag').value_counts(dropna = False)

ValueError: Product space too large to allocate arrays!

In [ ]:
df_orders_products_merged

In [ ]:
df_orders_products_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_update_merged_customer.pkl'))