This script contains the follwing points.

1.Import orders_products_combined dataframe from the pickle file
2.Check the dimensions of the imported dataframe (shape)
3.Combine the orders_products_combined dataframe with products data set.
4.Confirm the results of the merge using the merge flag
4.Use the indicator argument to check wether there was a full match between the two dataframe.

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
#Define path
path = r'/Users/shikongo/Instacart Basket Analysis/'

In [3]:
path

'/Users/shikongo/Instacart Basket Analysis/'

1. Import orders_products_combined dataframe from the pickle file

In [11]:
df_ords_combined = pd.read_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))

2. Check the dimensions of the imported dataframe (shape)

In [12]:
# Check the output
df_ords_combined.shape

(32434489, 14)

In [13]:

df_prods_clean = pd.read_csv(os.path.join(path, '02 Data','Prepared Data', 'prods_cleaned.csv'))

In [21]:
# . Check the output
df_ords_combined.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_wek,order_hour_of_day,days_since_prior_order,ordr_id,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,prior,1,2,8,NaN,2539329,196,1,0,both
1,0,0,2539329,1,prior,1,2,8,NaN,2539329,14084,2,0,both
2,0,0,2539329,1,prior,1,2,8,NaN,2539329,12427,3,0,both
3,0,0,2539329,1,prior,1,2,8,NaN,2539329,26088,4,0,both
4,0,0,2539329,1,prior,1,2,8,NaN,2539329,26405,5,0,both

In [15]:
# Check the output
df_prods_clean.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

3. Combine the orders_products_combined dataframe with products data set

In [16]:
df_orders_products_merged = df_prods_clean.merge(df_ords_combined, on = 'product_id', indicator = False)

In [19]:
# Check the output
df_orders_products_merged.head()

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0.1,Unnamed: 0_y,order_id,user_id,eval_set,order_number,orders_day_of_wek,order_hour_of_day,days_since_prior_order,ordr_id,add_to_cart_order,reordered,_merge
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,1987,3139998,138,prior,28,6,11,3.0,3139998,5,0,both
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1989,1977647,138,prior,30,6,17,20.0,1977647,1,1,both
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,11433,389851,709,prior,2,0,21,6.0,389851,20,0,both
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,12198,652770,764,prior,1,3,13,NaN,652770,10,0,both
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,12200,1813452,764,prior,3,4,17,9.0,1813452,11,1,both

4. Confirm the results of the merge using the merge flag

In [15]:
# Check the output
df_orders_products_merged['_merge'].value_counts()

both          32434212
left_only            0
right_only           0
Name: _merge, dtype: int64

5. Export the newly created dataframe as orders_products_merged.

In [25]:
df_orders_products_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))